<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="layout.css" />
    <link rel="stylesheet" href="albums.css" />
    <link rel="stylesheet" href="header.css" />
    <link rel="stylesheet" href="footer.css" />
    <title><%= title%></title>
  </head>
  <body>
    <%- include("./navbar"); %>
    <div>
      <%- include("./header"); %>

      <main class="albums-main">
        <h1 class="albums-h1">All Albums</h1>
        <% albums.map(album => { %>
        <div class="album-wrapper">
          <a
            class="albums-link"
            href="albums/<%= regExpFunction(album.title) %>"
          >
            <img
              class="album-img"
              src="https://placehold.co/150x150"
              alt=""
              srcset=""
            />
            <p><%= album.title %></p>
            <p><%= album.artists %></p>
            <p>Release: <%= new Date(album.date).toLocaleDateString()%></p>
          </a>
        </div>
        <% }); %>

        <a class="post-album-btn" href="/albums/new">Add new Album</a>
      </main>
      <%- include("./footer"); %>
    </div>
  </body>
</html>
