<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link rel="stylesheet" href="layout.css" />
    <link rel="stylesheet" href="navbar.css" />
    <link rel="stylesheet" href="footer.css" />
    <link rel="stylesheet" href="albumid.css" />

    <title>Document</title>
  </head>
  <body>
    <%- include("./navbar"); %>
    <div>
      <main>
        <h1>Albums ID</h1>

        <% album.map(album => { %>
        <div class="album-wrapper">
          <img
            class="album-img"
            src="https://placehold.co/150x150"
            alt=""
            srcset=""
          />
          <p><%= album.albums %></p>
          <p><%= album.artists %></p>
          <p>Release: <%= new Date(album.date).toLocaleDateString()%></p>
        </div>
        <% })%> <%- include("./footer"); %>
      </main>
    </div>
  </body>
</html>
