<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link rel="stylesheet" href="layout.css" />
    <link rel="stylesheet" href="navbar.css" />
    <link rel="stylesheet" href="header.css" />
    <link rel="stylesheet" href="footer.css" />
    <link rel="stylesheet" href="albumid.css" />

    <title><%= title%></title>
  </head>
  <body>
    <%- include("./navbar"); %>
    <div>
      <%- include("./header"); %>
      <main>
        <% album.map(album => { %>
        <h1 class="album-h1"><%= album.albums %></h1>
        <div class="album-img-wrapper">
          <img
            class="album-img"
            src="https://placehold.co/150x150"
            alt=""
            srcset=""
          />
        </div>
        <div class="album-info-wrapper">
          <p>Artist</p>

          <a href="artists/<%= regExpFunction(album.artists)%>">
            <p><%= album.artists %></p>
          </a>
          <p>Release</p>
          <p><%= new Date(album.date).toLocaleDateString()%></p>

          <p>Genre</p>
          <p><%= album.genres %></p>

          <% })%>
        </div>
      </main>
      <%- include("./footer"); %>
    </div>
  </body>
</html>
