<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="layout.css" />
    <link rel="stylesheet" href="header.css" />
    <link rel="stylesheet" href="artists.css" />
    <link rel="stylesheet" href="footer.css" />

    <title><%= title%></title>
  </head>
  <body>
    <%- include("./navbar"); %>
    <div>
      <%- include("./header"); %>
      <main class="artists-main-wrapper">
        <h1>Artists</h1>
        <ol>
          <% artists.map((artist) => {%>
          <li>
            <a href="artists/<%= regExpFunction(artist.artists)%>">
              <p><%= artist.artists%></p>
            </a>
          </li>
          <%})%>
        </ol>
        <a href="/artists/new">Post Artist</a>
        <%- include("./footer"); %>
      </main>
    </div>
  </body>
</html>
