<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="layout.css" />
    <link rel="stylesheet" href="header.css" />
    <link rel="stylesheet" href="genres.css" />
    <link rel="stylesheet" href="footer.css" />

    <title><%= title%></title>
  </head>
  <body>
    <%- include("./navbar"); %>

    <div>
      <%- include("./header"); %>
      <div class="genres-main-wrapper">
        <h1 class="genres-h1">Genres</h1>
        <ol>
          <% genres.map((genre) => {%>
          <li><a href="genres/<%= genre.genres%>"> <%= genre.genres%> </a></li>
          <%})%>
        </ol>
      </div>
      <%- include("./footer"); %>
    </div>
  </body>
</html>
