<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="layout.css" />
    <link rel="stylesheet" href="header.css" />
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="footer.css" />
    <link rel="stylesheet" href="genresid.css" />

    <title><%= title %></title>
  </head>
  <body>
    <%- include("./navbar"); %>

    <div class="genresid-div-wrapper">
      <%- include("./header"); %>
      <main>
        <h1 class="genres-h1"><%= name %></h1>

        <div class="desc-wrapper">
          <p>Description:</p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore
            aliquid optio quaerat accusantium voluptatibus ut explicabo at ex!
            Cumque nam sed dicta doloremque voluptatibus! Similique libero
            dolores ratione aliquam cumque!
          </p>
        </div>
        <div class="albums-wrapper">
          <% genre.map(genre => { %>
          <div class="album-wrapper">
            <a href="/albums/<%= genre.albums_id%>">
              <img
                class="album-img"
                src="https://placehold.co/150x150"
                alt=""
                srcset=""
              />
            </a>
            <div class="album-info-wrapper">
              <a href="/albums/<%= regExpFunction(genre.title)%>"
                ><%= genre.title %></a
              >
              <a href="/artists/<%= regExpFunction(genre.artist_name)%>"
                ><%= genre.artist_name %></a
              >
              <p>Release: <%= new Date(genre.date).toLocaleDateString()%></p>
            </div>
          </div>
          <% }); %>
        </div>
        <div class="back-link-wrapper">
          <a class="back-link" href="/genres">Take me back</a>
        </div>
      </main>
      <%- include("./footer"); %>
    </div>
  </body>
</html>
