<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="layout.css" />
    <link rel="stylesheet" href="header.css" />
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="footer.css" />
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!-- fonts -->
    <title><%= title%></title>
  </head>
  <body class="index">
    <%- include("./navbar")%>
    <div>
      <%- include("./header")%>
      <main>
        <h1>Latest Albums</h1>
        <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero tempora iusto ea debitis quidem.</p>
        <div class="albums-main">
            <% albums.map(album => { %>
            <div class="album-wrapper">
              <a class="album-link" href="albums/<%= album.id %>">
                <img
                  class="album-img"
                  src="https://placehold.co/150x150"
                  alt=""
                  srcset=""
                />
                <div class="album-info-wrapper">
                  <p><%= album.title %></p>
                  <a href="/artists/<%= album.artist_id%>"><%= album.artist %></a>
                  <p class="release-p">Release: <%= new Date(album.date).toLocaleDateString()%></p>
                </div>
              </a>
            </div>
            <% }); %>
          </div>
          <h2>Random Picks!</h2>
          <p class="lorem">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur repellendus deserunt.</p>
          <div class="top3-wrapper">
            <% randomAlbums.map(album => { %>
              <div class="album-wrapper">
                <a class="album-link" href="albums/<%= album.id %>">
                  <img
                  class="album-img"
                  src="https://placehold.co/150x150"
                  alt=""
                  srcset=""
                  />
                  <div class="album-info-wrapper">
                    <p><%= album.title %></p>
                    <a href="/artists/<%= album.artist_id%>"><%= album.name %></a>
                    <p>Release: <%= new Date(album.release_date).toLocaleDateString()%></p>
                  </div>
                </a>
              </div>
              <% }); %>
            </div>
            <%- include("./footer") %>
          </div>
          </main>
          <!-- <footer>
        Made by
        <a href="http://">user</a>
        On:
        <a href="">user page</a>
      </footer> -->
    </div>
  </body>
</html>
