<!DOCTYPE html>
<html>
  <head>
    <base href="/" />

    <link rel="stylesheet" href="layout.css" />
    <link rel="stylesheet" href="navbar.css" />
    <link rel="stylesheet" href="header.css" />
    <link rel="stylesheet" href="updateAlbum.css" />
    <link rel="stylesheet" href="footer.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include("./navbar"); %>
    <div>
      <%- include("./header"); %>
      <div class="main-wrapper">
        <h1><%= title %></h1>
        <% album.map((album) => { %>
        <form
          class="update-form"
          action="/albums/<%= album.id %>/update"
          method="POST"
        >
          <input type="hidden" name="id" value="<%= album.id %>" />
          <input
            type="text"
            name="albums"
            value="<%= album.albums %>"
            required
          />
          <input
            type="text"
            name="artist"
            value="<%= album.artists %>"
            required
          />
          <input
            type="text"
            name="genre"
            value="<%= album.genres %>"
            required
          />
          <input
            type="date"
            name="date"
            value="<%= new Date(album.date).toISOString().split('T')[0] %>"
            required
          />
          <button class="submit-btn" type="submit">Update Album</button>
        </form>

        <div class="back-link-wrapper">
          <a
            class="back-link"
            href="/albums/<%= regExpFunction(album.albums) %>/"
            >Back</a
          >
        </div>
      </div>
      <% })%> <%- include("./footer"); %>
    </div>
  </body>
</html>
